.article-nav-main {
  @include border();
  padding: 1rem;

  .article-nav {
    @include border();

    &__ul {
      @include border();
      display: flex;
      flex-direction: row;

      &__elem {
        background: none;
        font-size: 1rem;
        border: none;
        padding-left: 1rem;
        cursor: pointer;
        color: blue;
        width: fit-content;
        padding: 1rem;
        outline: none;
        transition: all 0.5s ease-in;

        &:focus {
          color: rgb(255, 187, 0);
          outline: none;
          border-bottom: 2px solid rgb(255, 187, 0);
        }
      }
    }
  }
}

.articles-body__heading {
  @include border();
  padding: 1rem 2rem;

  &__text {
    @include border();
    color: rgb(255, 187, 0);
    text-decoration: underline;
    // the capitalize property is used in React instead
    // text-transform: capitalize;
  }
}

.articlesBox {
  width: 90vw;
  height: fit-content;
  padding: 1rem;
  display: flex;
  margin: auto auto;
  flex-direction: column;
  flex-wrap: wrap-reverse;
  // overflow: scroll;
  
  &__body {
    display: flex;
    // width: 800px;
    height: 600px;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    padding: 1rem;
    // overflow: scroll;

    .item {
      width: 230px;
      height: 250px;
      margin: 10px 20px;
      border-radius: 5px;
      display: flex;
      flex-direction: column;
      box-shadow: 1px 2px 20px 1px rgb(187, 187, 187);
      @include border;
      cursor: pointer;
      border-top: 5px solid #663399;

      &__image {
        height: 100px;
        @include border();
        background: royalblue;
      }
      &__desc {
        @include border();
        padding: 1rem;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        h2 {
          word-wrap: break-word;
          @include border();
        }
        h3 {
          font-size: 0.8rem;
          font-weight: 100;
          @include border();
        }
      }
      &__read__link {
        width: inherit;
        height: fit-content;
        button {
          background: none;
          margin: 0 auto;
          color: orange;
          width: 130px;
          border: none;
          padding: 0.5rem;
          cursor: pointer;
        }
      }
    }
  }
}

.article-viewer {
  position: fixed;
  top: 0;
  width: 99vw;
  background: #fff;
  height: 500px;
  @include border();
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 0.5fr 2fr;
  z-index: 600;

  &__desc {
    grid-area: 1/1;
    @include border();
    height: 40px;
    width: 50px;
    background: orange;
    box-shadow: 2px 2px 30px 2px lighten(orange, 30%);
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    position: relative;

    &__content {
      display: flex;
      flex-direction: column;
      padding: 1rem;
      &__desc {
        margin-left: 20px;
        display: flex;
        flex-direction: column;
        // align-items: flex-end;
        h3 {
          font-size: 1rem;
          font-weight: 100;
        }
        h2 {
          margin-left: 10px;
          font-weight: 900;
          font-size: 1.2rem;
          @include border();
        }
      }
    }
  }

  &__main {
    position: relative;
    grid-area: 1/2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow-y: scroll;
    @include border();

    &__head {
      @include border();
      display: flex;
      flex-direction: column;
      // align-items: center;
      color: #fff;
      justify-content: center;
      height: 100px;
      padding: 1rem;
      box-shadow: 1px 2px 12px 2px lighten(royalblue, 30%);
      background: linear-gradient(to right, #663399, royalblue);
      animation: showBack 2s ease forwards;
      transition: all 1s ease;
      // margin: 0 0 00px 0;
      h2 {
        font-size: 2rem;
        text-transform: capitalize;
      }
      h3 {
        font-weight: 100;
        font-size: 0.8rem;
      }
    }

    p {
      width: 700px;
      margin: 20px auto;
      @include border();
    }
  }
}
