.sign__up {
  width: 99vw;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, #2ac0d9, #5576c3);
  @include border(blue);

  &__header {
    @include border(red);
    font-size: 2rem;
    font-weight: 100;
    padding: 1rem;
    background-color: #fff;
    width: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
    h2 {
      color: #00bfff;
    }
  }
  &__form {
    @include border(brown);
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #fff;

    & > div {
      @include border(pink);
      width: inherit;
      height: 20%;
      display: flex;
      justify-content: space-around;
      align-items: center;

      input[type="password"],
      input[type="text"],
      input[type="email"] {
        height: 60px;
        width: 90%;
        padding: 1rem;
        font-size: 1rem;
        border: none;
        border-bottom: 2px solid deepskyblue;
      }
    }
    &__agreement {
      @include border(blue);
      justify-content: flex-start;
      align-items: center;

      input {
        width: 30px;
        height: 30px;
        padding-right: 1rem;
      }

      p {
        color: grey;
        b {
          color: #00bfff;
        }
      }
    }
    &__button {
      @include border(red);
      justify-content: space-between;

      button {
        height: 60px;
        width: 150px;
        background: #00bfff;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
        box-shadow: 2px 12px 15px 1px lighten(#00bfff, 30%);

        &:hover {
          background: darken(#00bfff, 20%);
        }
      }
      h4 {
        font-weight: 100;
        color: grey;
        a {
          text-decoration: none;
          color: #00bfff;
        }
      }
    }
  }
  &__optional {
    width: 500px;
    height: 200px;
    background-color: #00affe;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;

    header {
      font-size: 1.4rem;
      padding: 1rem;
    }

    .options {
      width: 60%;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}
