$secondary: #eee;
$abstract: #222831;
$background: #ffd369;
$primary :#393e46;

$red: #d96243;
// $otherC: #663399;

// Shopping section colors
// $bg: #23343b;
// $primary: #fa8d31;
// $secondary: #94a4a5;

@mixin border($color) {
  border: 2px solid transparent;
}

@mixin shadow($color) {
  box-shadow: 1px 2px 10px 2px $color;
  border-radius: 5px;
  padding: 1rem;
  transition: all 0.5s ease;

  &:hover,
  &:focus {
    box-shadow: inset 1px 2px 10px 2px $color;
    transition: all 0.5s ease;
  }
}

@mixin flexCon($direction, $centering, $justify) {
  display: flex;
  flex-direction: $direction;
  @if ($centering == true) {
    justify-content: center;
    align-items: center;
  } @else {
    justify-content: $justify;
    align-items: center;
  }
}
