.counselling{
    width: 100vw;
    height: 800px;
    background: black;
    margin-top: 2vh;
    color: #fff;
    @include border;

    &__header{
        height: 300px;
        width: 100%;
        @include border;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        &__name{
            width: 500px;
            height: inherit;
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            position: relative;
            border-right: 5px solid red;
            @include border;
             h1{
                 font-size: 2rem;
                 font-weight: 100;
                 width: inherit;
                 display: flex;
                 align-items: center;
                 justify-content: center;
                 padding: 1rem;
                 
                 b{
                     color: grey;
                     margin-left: 10px;
                     margin-right: 10px;
                     
                 }

             }
             h2{
                 color: rgb(52, 162, 226);
             }
        }
    }

    &__body{
        width: inherit;
        @include border;
        height: 500px;
        background: url('../../pics/Counselling.jpg') no-repeat;
        background-size: cover;
        display: flex;
        justify-content: center;
        align-items: center;

        &__intro{
            width: 90%;
            height: 90%;
            background: rgba(102, 51, 153, 0.61);
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            h2{
                font-size: 2rem;
            }
            h1{
                font-size: 3rem;
                color: yellow;
                text-decoration: underline;
            }
            h3{
                margin: 10px 0 50px 0;
            }
        }
    }
}