.logo{
    // width: inherit;
    height: inherit;
    padding: .0rem;
    
    h1{
        padding: .3rem;
        color: $orange;
        font-size: 2rem;
        b{
            color: $secondary-blue;
        }
    }
    
}
