@import "logo";

.nav {
  display: flex;
  width: 100vw;
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  @include border;
  padding: 1rem;
  background: #fff;
  color: $orange;

  &__list {
    @include border;
    width: 650px;
    height: 80px;
    padding: 0.3rem;

    &__con {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;
      padding: 0.5rem;
      @include border;

      li {
        list-style-type: none;
        cursor: pointer;
        color: $primary-blue;
        font-size: 1.2rem;
        padding: 0.5rem;
        text-decoration: strike-through;
        transition: border-bottom ease 0.5s;
        margin-right: 1rem;

        &:hover {
          color: $orange;
          border-bottom: 1px solid $red;
        }
        &:focus {
          color: $orange;
        }
      }
    }
  }
}
