.shopping {
  background: #23343a;
  width: 100vw;
  height: 650px;
  position: relative;
  overflow: hidden;
  transition: All 1s ease forwards;
  @include border;

  &__slider {
    width: inherit;
    height: inherit;
    @include border;
    position: relative;
    overflow: hidden;
    transition: all 1s ease-in;

    &__one {
      background: linear-gradient(
        to right,
        $primary-blue,
        rebeccapurple,
        $secondary-blue
      );
      color: #fff;
      width: 100vw;
      height: inherit;
      position: absolute;
      animation: showUp 3s ease-in forwards;
      border: 1px solid #fff;
      @include border;
      h2 {
        font-size: 4rem;
      }
    }
    .shop-section-1 {
      width: 100vw;
      height: 650px;
      @include flexCon(row,false, space-around);
      position: absolute;
      border: 1px solid white;
    }

    .shop-section-2{
      width: inherit;
      height: inherit;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: repeat(3, 1fr);
    
      .childTwoHeader {
        @include border;
        grid-area: 2/3;
        width: 350px;
        height: 150px;
        padding: 1rem;
        align-items: center;
        margin: 0vh auto;
        h2 {
          font-size: 3rem;
        }
      }
    }
  }

  .loveIcon {
    position: relative;
    animation: expands 0.2s ease-in-out forwards;
  }
  &__art {
    grid-area: 2 / span 3;
    padding: 2rem 0;
    width: 500px;
    position: relative;
    left: -100px;
    background: #fff;
    border-radius: 0 40px 40px 0;

    img{
      position: relative;
      animation: moveRight 2s ease 4s forwards infinite;
    }
  }
  
  &__paragraph {
    @include border;
    grid-area: 2 / 3;
    padding: 2rem 1rem;
    height: 450px;
    position: relative;
    top: 5vh;
    right: 200px;
    margin: 0vh 5vh;
  }
  &__button {
    display: flex;
    height: 200px;
    border: 1px solid #fff;
    @include flexCon(row, true, center);

    &__seemore {
      width: 200px;
      height: 70px;
      margin-bottom: 10px;
      cursor: pointer;
      background: none;
      border: none;
      border-radius: 5px;
      color: $orange;
    }
  }
}
