.shopping {
  background: #23343b;
  width: 100vw;
  height: 650px;
  position: relative;
  overflow: hidden;
  transition: All 1s ease forwards;
  @include border;

  &__slider {
    width: inherit;
    height: inherit;
    @include border;
    position: relative;
    overflow: hidden;
    transition: all 1s ease-in;

    &__children {
      width: 100vw;
      height: inherit;
      background-color: rebeccapurple;
      color: #fff;

      h2 {
        font-size: 3rem;
      }
    }

    &__info {
      width: 300px;
      height: 300px;
      border: 1px solid red;
      border-radius: 10px;
      position: absolute;
      display: none;
      transition: all ease-in 1s;
      animation: moveLeft 3s ease-in forwards;
      animation-delay: 1s;
    }

    &__one {
      background: linear-gradient(
        to right,
        $primary-blue,
        rebeccapurple,
        $secondary-blue
      );
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: row;
      @include border;
    }
    &__two {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @include border;
    }

    &__three {
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      @include border;
    }
  }

  .childTwoHeader {
    @include border;
    grid-area: 2/3;
    width: 350px;
    height: 150px;
    padding: 1rem;
    align-items: center;
    margin: 0vh auto;

    h2 {
      font-size: 3rem;
    }
  }

  .loveIcon {
    // transition: all .2s ease-in-out;
    position: relative;
    animation: expands 0.2s ease-in-out forwards;
  }
  &__art {
    grid-area: 2 / span 3;
    padding: 2rem 0;
    width: 500px;
    position: relative;
    left: -100px;
    background: #fff;
    border-radius: 0 40px 40px 0;
  }
  &__paragraph {
    @include border;
    grid-area: 2 / 3;
    padding: 2rem 1rem;
    height: 450px;
    position: relative;
    top: 5vh;
    right: 200px;
    margin: 0vh 5vh;
  }
  &__button {
    display: flex;
    height: 200px;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__seemore {
      width: 200px;
      height: 70px;
      margin-bottom: 10px;
      cursor: pointer;
      background: none;
      border: none;
      border-radius: 5px;
      color: $orange;
    }
  }
}
