@mixin button($importance) {
  width: 200px;
  height: 70px;
  font-size: 1.3rem;
  transition: all 0.5s ease;
  cursor: pointer;
  outline: none;
  border: none;
  margin: 10px;

  @if ($importance == high) {
    background: #f6d342;
    color: #fff;
    &:hover {
      box-shadow: -5px 5px 50px 1px $orange;
    }
    &:focus {
      box-shadow: 0 0 0 0;
    }
  } @else {
    background: #fff;
    color: #f6d342;
    &:hover {
      box-shadow: 2px 2px 50px 2px #f6d342;
    }
    &:focus {
      box-shadow: 0 0 0 0;
    }
  }
}
