* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

.logo {
  height: 60px;
  width: 160px;
  padding: 0.5rem;
  border-radius: 5px;
  display: flex;
  flex-direction: row;
  border: 2px solid transparent; }
  .logo h1 {
    padding: 0.3rem;
    color: #fdb827;
    font-size: 2rem; }
    .logo h1 b {
      color: #21209c; }

.nav {
  display: flex;
  width: 100vw;
  height: 100px;
  flex-direction: row;
  justify-content: space-between;
  border: 2px solid transparent;
  padding: 1rem;
  color: #fdb827; }
  .nav__list {
    border: 2px solid transparent;
    width: 650px;
    height: 80px;
    padding: 0.3rem; }
    .nav__list__con {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      justify-content: space-around;
      padding: 0.5rem;
      border: 2px solid transparent; }
      .nav__list__con li {
        list-style-type: none;
        cursor: pointer;
        color: #fdb827;
        font-size: 1.2rem;
        padding: 0.5rem;
        text-decoration: strike-through;
        transition: border-bottom ease 0.5s;
        margin-right: 1rem; }
        .nav__list__con li:hover {
          color: #fdb827;
          border-bottom: 1px solid #fdb827; }
        .nav__list__con li:focus {
          color: #fdb827; }

.header {
  width: 100vw;
  height: 600px;
  color: #21209c;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  z-index: 50;
  position: relative;
  background: #f1f1f1;
  border: 2px solid transparent; }
  .header-main {
    width: 500px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    border: 2px solid transparent; }
    .header-main h1 {
      font-size: 3.5rem;
      margin: 0px auto;
      position: relative;
      color: #21209c;
      grid-area: 2/1;
      z-index: 100;
      border: 2px solid transparent; }
    .header-main .header__slogan {
      font-size: 0.9rem;
      position: relative;
      color: #23120b;
      z-index: 100;
      border: 2px solid transparent; }
    .header-main button {
      height: 70px;
      width: 300px;
      background: #fdb827;
      color: #f1f1f1;
      font-size: 1.3rem;
      transition: all 0.5s ease;
      cursor: pointer;
      outline: none;
      border: none;
      margin: 10px; }
      .header-main button:hover {
        background: linear-gradient(to right, #21209c);
        color: #f1f1f1; }
  .header-illustration {
    border: 2px solid transparent;
    height: inherit;
    width: 400px;
    display: flex;
    flex-direction: row;
    position: relative; }
  .header img {
    height: 500px;
    position: absolute; }
  .header #shopper {
    right: 20px; }
  .header #reader {
    left: 50px; }
  .header #reader {
    left: 50px; }

.paragraph_1 {
  border: 2px solid transparent;
  width: 100vw;
  height: 680px;
  background-size: 110vw 500px;
  background-position: -50px 500px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative; }
  .paragraph_1 .paragraph_1-main {
    border: 2px solid transparent;
    width: 100%;
    height: 500px;
    font-size: 2rem;
    position: relative;
    padding: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: grey;
    background: #f1f1f1;
    border-radius: 5px; }
    .paragraph_1 .paragraph_1-main .quote {
      border: 2px solid transparent;
      height: 350px;
      width: 70%;
      background: #f4f4f4;
      position: absolute;
      z-index: 100; }
      .paragraph_1 .paragraph_1-main .quote #q-left {
        position: relative;
        top: 10px;
        left: 20px; }
      .paragraph_1 .paragraph_1-main .quote #q-right {
        position: absolute;
        right: 20px;
        bottom: 30px;
        border: 2px solid transparent; }
      .paragraph_1 .paragraph_1-main .quote p {
        position: relative;
        left: 100px;
        width: 90%; }
      .paragraph_1 .paragraph_1-main .quote i {
        font-size: 1rem;
        position: relative;
        left: 100px;
        color: grey; }
    .paragraph_1 .paragraph_1-main .trees {
      width: 500px;
      height: 500px;
      position: relative;
      display: flex;
      flex-direction: row;
      border: 2px solid transparent;
      z-index: 1; }

.wavy-svg {
  border: 2px solid transparent;
  position: relative; }
  .wavy-svg .two {
    position: absolute;
    bottom: -00px; }
  .wavy-svg .one {
    position: absolute;
    bottom: -200px;
    display: none;
    z-index: -1; }

.tree {
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 200px;
  height: 500px;
  margin-right: -10px;
  border-radius: 10px; }
  .tree__head {
    width: 150px;
    height: 600px;
    background: green;
    clip-path: circle(50%); }
  .tree__stick {
    width: 10px;
    height: 500px;
    background: #b85959;
    position: relative;
    bottom: 15vh; }

.articles {
  border: 2px solid transparent;
  width: 100vw;
  height: 750px;
  position: relative; }
  .articles__firstChild {
    margin: 0 0 0 100px;
    color: #21209c;
    width: 960px;
    height: fit-content;
    padding: 1rem;
    word-wrap: wrap;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 300;
    border: 2px solid transparent; }
    .articles__firstChild .h2_1 {
      font-size: 2rem;
      font-weight: 100;
      color: #fdb827;
      width: fit-content;
      height: fit-content;
      padding: 1rem;
      word-wrap: wrap;
      text-align: center;
      position: relative;
      border: 2px solid transparent; }
    .articles__firstChild .h2_2 {
      height: 100px;
      color: #fdb827;
      border: 2px solid transparent; }
      .articles__firstChild .h2_2 b {
        font-size: 4rem; }
    .articles__firstChild p {
      border: 2px solid transparent;
      width: 500px;
      height: 200px;
      margin: 10% 10%;
      font-size: 15px;
      padding: 2rem; }
    .articles__firstChild__art {
      width: 50vw;
      height: 400px;
      position: relative;
      display: flex;
      border: 2px solid transparent; }
  .articles .articles__paragraph {
    border: 2px solid transparent;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .articles .articles__paragraph p {
      border: 2px solid transparent;
      width: 40vw;
      height: 250px;
      font-size: 17px;
      font-weight: 100;
      padding: 2rem;
      line-height: 1.5;
      color: #23120b; }
    .articles .articles__paragraph .buttons {
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: row;
      justify-content: center;
      border: 2px solid transparent; }
  .articles-author {
    border: 2px solid transparent;
    grid-area: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: -100px 0 0 200px;
    border-radius: 100%;
    width: 90%; }
    .articles-author img {
      border: 2px solid transparent;
      z-index: 200; }

.shopping {
  width: 100vw;
  height: 750px;
  position: relative;
  overflow: hidden;
  transition: All 1s ease forwards;
  border: 2px solid transparent; }
  .shopping .shop-section-2 {
    width: inherit;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    border: 2px solid transparent; }
  .shopping__paragraph {
    border: 2px solid transparent;
    width: 500px;
    height: 450px;
    position: relative; }
    .shopping__paragraph__header {
      border: 2px solid transparent;
      width: 350px;
      height: 220px; }
      .shopping__paragraph__header h2 {
        font-size: 3rem;
        width: 100%;
        color: #fdb827;
        border: 2px solid transparent; }
    .shopping__paragraph__text {
      border: 2px solid transparent;
      width: 500px;
      height: 150px;
      color: #23120b; }
  .shopping__button {
    height: 100px;
    position: relative;
    border: 2px solid transparent; }
  .shopping__art {
    padding: 2rem 0;
    width: 500px;
    position: relative;
    background: linear-gradient(to right, orange, red);
    border-radius: 0 40px 40px 0;
    box-shadow: 2px 2px 20px 3px #ffb733; }
    .shopping__art img {
      position: relative;
      animation: moveRight 2s ease 4s forwards infinite; }

.counselling {
  width: 100vw;
  height: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 2vh;
  border: 2px solid transparent; }
  .counselling__el {
    border: 2px solid transparent;
    height: 500px;
    width: 99vw;
    background: #f4f4f4; }
    .counselling__el__feeling {
      width: inherit;
      height: 150px;
      padding: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      border: 2px solid transparent; }
      .counselling__el__feeling .text {
        border: 2px solid transparent; }
        .counselling__el__feeling .text__content {
          position: relative; }
        .counselling__el__feeling .text h2 {
          font-size: 3rem;
          color: grey; }
      .counselling__el__feeling .feeling {
        border: 2px solid transparent;
        height: 150px;
        text-align: center;
        padding: 1rem; }
        .counselling__el__feeling .feeling__text {
          font-size: 2.5rem;
          position: relative;
          animation: slide ease 0.5s forwards 0.2s;
          transition: all 1s ease-in forwards;
          color: grey; }
    .counselling__el__paragraph {
      border: 2px solid transparent;
      height: fit-content;
      color: grey;
      background: #f4f4f4;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      padding: 1rem; }
      .counselling__el__paragraph__text {
        width: 900px;
        height: 300px;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        border: 2px solid transparent; }
        .counselling__el__paragraph__text > div {
          display: flex;
          flex-direction: column;
          justify-content: space-between;
          padding: 1rem;
          border: 2px solid transparent;
          width: 100%;
          align-items: flex-start; }
          .counselling__el__paragraph__text > div header {
            border: 2px solid transparent;
            text-align: left; }
          .counselling__el__paragraph__text > div p {
            border: 2px solid transparent;
            width: 100%; }
          .counselling__el__paragraph__text > div .counselBtn {
            height: fit-content;
            border: 2px solid transparent; }
        .counselling__el__paragraph__text p {
          border: 2px solid transparent;
          width: 50%; }
        .counselling__el__paragraph__text img {
          height: 300px;
          width: 300px; }
  .counselling__booking {
    width: inherit;
    height: 650px;
    border: 2px solid transparent;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 1rem; }
    .counselling__booking__part1 {
      border: 2px solid transparent;
      width: 600px;
      display: flex;
      height: 600px;
      flex-direction: column;
      justify-content: space-evenly; }
      .counselling__booking__part1 .assurance {
        color: royalblue;
        height: 200px;
        margin: 50px 0;
        border-radius: 5px;
        padding: 1rem;
        text-align: center; }
      .counselling__booking__part1 h2 {
        color: royalblue;
        font-size: 1.5rem; }
        .counselling__booking__part1 h2 big {
          font-size: 2rem;
          color: orange; }
      .counselling__booking__part1 .contact {
        width: 650px;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 2px solid transparent; }
        .counselling__booking__part1 .contact p {
          color: grey;
          margin: 20px 0; }
        .counselling__booking__part1 .contact__links {
          width: 650px;
          height: 100px;
          display: flex;
          flex-direction: row;
          justify-content: space-around; }
          .counselling__booking__part1 .contact__links a {
            width: 200px;
            height: 70px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            padding: 1rem 4rem;
            border-radius: 5px;
            color: #000;
            background: #fff;
            text-decoration: none;
            border: 2px solid transparent;
            transition: box-shadow 0.5s ease; }
            .counselling__booking__part1 .contact__links a:hover {
              box-shadow: 2px 12px 15px 1px #ccb3e6; }
          .counselling__booking__part1 .contact__links .insta {
            box-shadow: 2px 12px 15px 1px #ffcccc; }
          .counselling__booking__part1 .contact__links .mail {
            box-shadow: 2px 12px 15px 1px #ffcccc; }
          .counselling__booking__part1 .contact__links .tel {
            box-shadow: 2px 12px 15px 1px #ffcccc; }

.ArticleHeader {
  height: 400px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  background: #f1f1f1;
  border: 2px solid transparent; }
  .ArticleHeader__heading {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    color: linear-gradient(to right, #21209c);
    padding: 1rem;
    border: 2px solid transparent; }
  .ArticleHeader h1 {
    font-size: 3rem;
    width: fit-content;
    height: fit-content;
    text-decoration: underline;
    text-decoration-color: #fdb827; }
  .ArticleHeader .header__arts {
    height: inherit;
    width: inherit;
    border: 2px solid transparent; }
    .ArticleHeader .header__arts img {
      width: inherit;
      height: inherit; }

.artwork {
  width: inherit;
  height: 300px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 10px 0 0 10px;
  background: linear-gradient(to right, rebeccapurple, blue);
  padding: 3rem; }
  .artwork__child {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    border-radius: 5px;
    position: absolute; }
  .artwork__paper {
    animation: slideUp 4s ease-in forwards;
    background: #fff;
    border: 11px solid black;
    width: 200px;
    height: 200px;
    margin: 100px auto;
    position: relative;
    justify-content: flex-start;
    bottom: -300px; }
    .artwork__paper__head {
      width: inherit;
      display: flex;
      flex-direction: row;
      justify-content: space-around; }
    .artwork__paper__head > div {
      width: 70px;
      height: 10px; }
    .artwork__paper .one {
      background: gold; }
    .artwork__paper__block {
      width: 80px;
      height: 10px;
      background: royalblue;
      margin: 10px 0;
      border-radius: 2px; }
    .artwork__paper .large {
      width: calc(100% - 2%);
      height: 50px; }
  .artwork__lightbulb {
    left: 100px;
    bottom: -300px;
    width: 100px;
    height: 100px;
    justify-content: center;
    align-items: center;
    animation: slideUp 4s ease-in 4s forwards; }
    .artwork__lightbulb__bulb {
      width: 50px;
      height: 90px;
      background: gold;
      border-radius: 90px;
      box-shadow: -11px 12px 1px 20px #fff; }
    .artwork__lightbulb__stalk {
      width: 30px;
      height: 30px;
      background: grey; }

.article-nav-main {
  border: 2px solid transparent;
  padding: 1rem; }
  .article-nav-main .article-nav {
    border: 2px solid transparent;
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center; }
    .article-nav-main .article-nav__ul {
      border: 2px solid transparent;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 950px; }
      .article-nav-main .article-nav__ul__elem {
        background: none;
        font-size: 1rem;
        border: none;
        padding-left: 1rem;
        cursor: pointer;
        color: #21209c;
        width: 500px;
        padding: 1rem;
        outline: none;
        transition: all 0.5s linear; }
        .article-nav-main .article-nav__ul__elem:hover {
          background: #f1f1f1; }
        .article-nav-main .article-nav__ul__elem:focus {
          color: #fdb827;
          background: #f1f1f1;
          outline: none;
          border-bottom: 2px solid #ffbb00; }

.articlesBox {
  width: 99vw;
  height: fit-content;
  padding: 1rem;
  display: flex;
  margin: auto auto;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  position: relative;
  border: 2px solid transparent; }
  .articlesBox__body {
    display: flex;
    width: 97vw;
    height: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 1rem;
    border: 2px solid transparent; }
    .articlesBox__body .item {
      width: 1000px;
      height: 300px;
      margin: 10px auto;
      border-radius: 2px;
      display: flex;
      flex-direction: row;
      justify-content: flex-start;
      cursor: pointer;
      background: linear-gradient(to right, #21209c);
      border-top: 5px solid #663399;
      transition: all 0.5s ease-in;
      border: 2px solid transparent;
      border-top: 2px solid #fdb827;
      border-bottom: 2px solid #fdb827;
      border-width: 5px; }
      .articlesBox__body .item:hover {
        border-left: 2px solid #21209c;
        border-width: 5px; }
      .articlesBox__body .item__image {
        height: 100%;
        width: 50%;
        border-radius: 4px 4px 0 0;
        background: #fdb827;
        border: 2px solid transparent; }
        .articlesBox__body .item__image img {
          height: 100%;
          width: 100%; }
      .articlesBox__body .item__main {
        width: 50%;
        height: 250px; }
        .articlesBox__body .item__main .meta-data {
          border: 2px solid transparent; }
          .articlesBox__body .item__main .meta-data-main {
            display: flex;
            flex-direction: row; }
            .articlesBox__body .item__main .meta-data-main-avatar img {
              height: 50px;
              width: 50px;
              border-radius: 50px; }
            .articlesBox__body .item__main .meta-data-main-text {
              display: flex;
              flex-direction: column;
              justify-content: center;
              color: #21209c;
              border: 2px solid transparent; }
              .articlesBox__body .item__main .meta-data-main-text h3 {
                font-size: 1rem; }
              .articlesBox__body .item__main .meta-data-main-text span {
                font-size: .8rem; }
        .articlesBox__body .item__main__desc {
          border: 2px solid transparent;
          padding: 1rem;
          display: flex;
          height: fit-content;
          flex-direction: column;
          text-decoration: none;
          justify-content: flex-start; }
          .articlesBox__body .item__main__desc h2 {
            word-wrap: break-word;
            color: black;
            height: 55px;
            font-weight: 100;
            font-size: 2.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
            border: 2px solid transparent; }
          .articlesBox__body .item__main__desc h3 {
            font-size: 0.8rem;
            text-decoration: none;
            font-weight: 100;
            color: orange;
            border: 2px solid transparent; }
          .articlesBox__body .item__main__desc article {
            width: inherit;
            height: 70px;
            overflow: hidden; }
          .articlesBox__body .item__main__desc p {
            border: 2px solid transparent;
            overflow: hidden;
            text-overflow: ellipsis;
            height: 90px;
            color: black;
            font-weight: 100; }
        .articlesBox__body .item__main__read__link {
          width: inherit;
          height: 40px;
          border: 2px solid transparent; }
          .articlesBox__body .item__main__read__link button {
            background: none;
            color: #21209c;
            width: 140px;
            border: none;
            padding: 0.5rem;
            cursor: pointer; }

.article__preview__maincon {
  background: rgba(194, 194, 197, 0.349);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 300; }
  .article__preview__maincon__pre {
    box-shadow: 2px 2px 21px 2px #6b6565;
    border: 2px solid transparent;
    width: 100vw;
    height: 380px;
    background: #f4f4f4;
    margin: 100px 0;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    position: absolute;
    top: 0;
    z-index: 301; }
  .article__preview__maincon__items {
    position: absolute;
    width: 100vw;
    top: 0px;
    margin: 100px 0;
    z-index: 302;
    display: flex;
    justify-content: space-around; }
    .article__preview__maincon__items .pre__part {
      width: 30.33%;
      height: 380px;
      border: 2px solid transparent;
      position: relative; }
      .article__preview__maincon__items .pre__part__left .poly {
        width: 100%;
        height: 100%; }
      .article__preview__maincon__items .pre__part__left .any {
        width: 200px;
        height: 200px;
        position: absolute;
        top: 20%;
        left: 20%;
        border: 2px solid transparent; }
      .article__preview__maincon__items .pre__part__middle {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around; }
        .article__preview__maincon__items .pre__part__middle__header {
          text-align: center;
          height: 100px;
          padding: 1rem; }
        .article__preview__maincon__items .pre__part__middle p {
          border: 2px solid transparent;
          width: 500px;
          margin: 0 auto;
          height: 100px;
          overflow: hidden; }
        .article__preview__maincon__items .pre__part__middle__buttons {
          width: 100%;
          height: 100px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          border: 2px solid transparent; }

.reader {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 5% 5%;
  border: 2px solid transparent; }
  .reader__meta {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: 2px solid transparent;
    background: #fff; }
    .reader__meta img {
      width: 250px;
      height: 350px;
      border: 2px solid transparent; }
    .reader__meta__desc {
      width: 70%;
      height: inherit;
      border: 2px solid transparent;
      padding: 1rem;
      display: flex;
      flex-direction: column; }
      .reader__meta__desc .reader__main__content {
        border: 2px solid transparent;
        width: 700px; }
      .reader__meta__desc__navigation {
        border: 2px solid transparent;
        width: 100px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center; }
        .reader__meta__desc__navigation button {
          background: none;
          outline: none;
          border: none;
          color: grey;
          cursor: pointer; }
          .reader__meta__desc__navigation button:hover, .reader__meta__desc__navigation button:focus {
            color: #9a9a9a; }
      .reader__meta__desc h1 {
        font-size: 3rem; }
      .reader__meta__desc h3 {
        color: grey;
        font-weight: 100;
        margin: 2% 0; }
  .reader__relatedArticles {
    border: 2px solid transparent;
    margin-top: 100px; }
    .reader__relatedArticles__body {
      width: 99vw;
      height: fit-content;
      padding: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
      position: relative;
      border: 2px solid transparent; }
      .reader__relatedArticles__body .item {
        width: 1000px;
        height: 300px;
        margin: 10px auto;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        cursor: pointer;
        background: linear-gradient(to right, #21209c);
        border-top: 5px solid #663399;
        transition: all 0.5s ease-in;
        border: 2px solid transparent;
        border-top: 2px solid #fdb827;
        border-bottom: 2px solid #fdb827;
        border-width: 5px; }
        .reader__relatedArticles__body .item:hover {
          border-left: 2px solid #21209c;
          border-width: 5px; }
        .reader__relatedArticles__body .item__image {
          height: 100%;
          width: 50%;
          border-radius: 4px 4px 0 0;
          background: #fdb827;
          border: 2px solid transparent; }
          .reader__relatedArticles__body .item__image img {
            height: 100%;
            width: 100%; }
        .reader__relatedArticles__body .item__main {
          width: 50%;
          height: 250px; }
          .reader__relatedArticles__body .item__main .meta-data {
            border: 2px solid transparent; }
            .reader__relatedArticles__body .item__main .meta-data-main {
              display: flex;
              flex-direction: row; }
              .reader__relatedArticles__body .item__main .meta-data-main-avatar img {
                height: 50px;
                width: 50px;
                border-radius: 50px; }
              .reader__relatedArticles__body .item__main .meta-data-main-text {
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: #21209c;
                border: 2px solid transparent; }
                .reader__relatedArticles__body .item__main .meta-data-main-text h3 {
                  font-size: 1rem; }
                .reader__relatedArticles__body .item__main .meta-data-main-text span {
                  font-size: .8rem; }
          .reader__relatedArticles__body .item__main__desc {
            border: 2px solid transparent;
            padding: 1rem;
            display: flex;
            height: fit-content;
            flex-direction: column;
            text-decoration: none;
            justify-content: flex-start; }
            .reader__relatedArticles__body .item__main__desc h2 {
              word-wrap: break-word;
              color: black;
              height: 55px;
              font-weight: 100;
              font-size: 2.5rem;
              overflow: hidden;
              text-overflow: ellipsis;
              text-decoration: none;
              border: 2px solid transparent; }
            .reader__relatedArticles__body .item__main__desc h3 {
              font-size: 0.8rem;
              text-decoration: none;
              font-weight: 100;
              color: orange;
              border: 2px solid transparent; }
            .reader__relatedArticles__body .item__main__desc article {
              width: inherit;
              height: 70px;
              overflow: hidden; }
            .reader__relatedArticles__body .item__main__desc p {
              border: 2px solid transparent;
              overflow: hidden;
              text-overflow: ellipsis;
              height: 90px;
              color: black;
              font-weight: 100; }
          .reader__relatedArticles__body .item__main__read__link {
            width: inherit;
            height: 40px;
            border: 2px solid transparent; }
            .reader__relatedArticles__body .item__main__read__link button {
              background: none;
              color: #21209c;
              width: 140px;
              border: none;
              padding: 0.5rem;
              cursor: pointer; }

.adminPage {
  height: fit-content; }
  .adminPage__header {
    border: 2px solid transparent;
    padding: 1rem; }
    .adminPage__header h2 {
      font-size: 4rem;
      padding: 1rem;
      color: #000; }
      .adminPage__header h2 b {
        font-weight: 100;
        color: #fdb827; }
  .adminPage__subHeaders {
    border: 2px solid transparent;
    height: 200px; }
    .adminPage__subHeaders header {
      padding: 1rem; }
      .adminPage__subHeaders header h3 {
        color: grey;
        position: relative;
        left: 100px; }
    .adminPage__subHeaders__items {
      height: fit-content;
      border: 2px solid transparent;
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center; }
      .adminPage__subHeaders__items__btnCon {
        height: inherit;
        width: 500px;
        display: flex;
        flex-direction: row;
        position: relative;
        border: 2px solid transparent; }
        .adminPage__subHeaders__items__btnCon button {
          height: 60px;
          width: 150px;
          background: transparent;
          border: none;
          font-size: 1.2rem;
          cursor: pointer;
          box-shadow: 5px 10px 20px 1px #fdb827; }
        .adminPage__subHeaders__items__btnCon__desc {
          margin-left: 10px;
          width: 300px;
          background: #f4f4f4;
          position: relative; }
          .adminPage__subHeaders__items__btnCon__desc ul {
            padding: 1rem; }
            .adminPage__subHeaders__items__btnCon__desc ul li {
              list-style-type: none; }
  .adminPage .buttonDisplay {
    border: 2px solid transparent;
    height: fit-content;
    display: flex;
    flex-direction: column; }
    .adminPage .buttonDisplay header {
      border: 2px solid transparent;
      display: flex;
      padding: 1rem;
      justify-content: space-between; }
      .adminPage .buttonDisplay header div {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        border: 2px solid transparent; }
        .adminPage .buttonDisplay header div h2 {
          font-size: 2rem;
          text-transform: capitalize; }
        .adminPage .buttonDisplay header div .awesomeIcon {
          border: 1px solid #000;
          height: 30px;
          width: 30px;
          padding: .5rem;
          color: grey;
          cursor: pointer;
          border-radius: 30px; }
      .adminPage .buttonDisplay header input {
        height: 50px;
        width: 300px;
        margin: 5px;
        padding: 1rem; }
    .adminPage .buttonDisplay__items {
      padding: 1rem; }
      .adminPage .buttonDisplay__items .item {
        width: 70%;
        height: 250px;
        margin: 20px auto;
        overflow: hidden;
        padding: 1rem;
        box-shadow: 5px 5px 50px 1px #c5d1f6; }
      .adminPage .buttonDisplay__items__search {
        border: 2px solid transparent;
        width: 70%;
        margin: 0 auto;
        color: grey; }

.sign__up {
  width: 99vw;
  height: 900px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent; }
  .sign__up__header {
    border: 2px solid transparent;
    font-size: 2rem;
    font-weight: 100;
    padding: 1rem;
    background-color: #fff;
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .sign__up__header h2 {
      color: linear-gradient(to right, #21209c); }
    .sign__up__header .error {
      background: #ff9999;
      border-bottom: 2px solid red;
      height: 50px;
      width: 95%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center; }
      .sign__up__header .error h3 {
        font-size: 1rem;
        font-weight: 100; }
  .sign__up__form {
    border: 2px solid transparent;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    background-color: #fff;
    box-shadow: #dbd4d4 2px 2px 20px 3px; }
    .sign__up__form > div {
      border: 2px solid transparent;
      width: inherit;
      height: 30%;
      display: flex;
      justify-content: space-around;
      align-items: center; }
      .sign__up__form > div input[type="password"],
      .sign__up__form > div input[type="text"],
      .sign__up__form > div input[type="email"] {
        height: 60px;
        width: 90%;
        padding: 1rem;
        font-size: 1rem;
        border: none;
        border-bottom: 2px solid #f1f1f1;
        outline: none;
        transition: all .3s ease-in-out; }
        .sign__up__form > div input[type="password"]:focus,
        .sign__up__form > div input[type="text"]:focus,
        .sign__up__form > div input[type="email"]:focus {
          border-bottom: 2px solid linear-gradient(to right, #21209c);
          padding-left: 2rem; }
    .sign__up__form__agreement {
      border: 2px solid transparent;
      justify-content: flex-start;
      align-items: center; }
      .sign__up__form__agreement input {
        width: 30px;
        height: 30px;
        padding-right: 1rem; }
      .sign__up__form__agreement p {
        color: #21209c; }
        .sign__up__form__agreement p b {
          color: #fdb827; }
    .sign__up__form__button {
      border: 2px solid transparent;
      justify-content: space-between; }
      .sign__up__form__button button {
        height: 60px;
        width: 150px;
        background: #21209c;
        color: #fff;
        border: none;
        cursor: pointer;
        font-size: 1.2rem;
        box-shadow: 2px 12px 15px 1px #7473e2; }
        .sign__up__form__button button:hover {
          background: #0f0f47; }
      .sign__up__form__button h4 {
        font-weight: 100;
        color: grey; }
        .sign__up__form__button h4 a {
          text-decoration: none;
          color: linear-gradient(to right, #21209c); }
  .sign__up__optional {
    width: 500px;
    height: 200px;
    background-color: linear-gradient(to right, #21209c);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff; }
    .sign__up__optional header {
      font-size: 1.4rem;
      padding: 1rem; }
    .sign__up__optional .options {
      width: 60%;
      display: flex;
      justify-content: space-around;
      align-items: center; }

.footer {
  width: 100vw;
  height: 400px;
  background: #23120b;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 0vh 0 0 0; }
  .footer__elem {
    flex-basis: 35%;
    height: 200px;
    border-right: 1px solid grey;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
    .footer__elem li {
      width: 200px;
      list-style: none;
      color: grey; }
    .footer__elem__socialmedia {
      width: 250px;
      height: 50px;
      color: #fff;
      display: flex;
      padding: 1rem;
      flex-direction: row;
      justify-content: space-around; }

body {
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  background-color: linear-gradient(to right, #21209c);
  line-height: 1.5; }
  body .move-right {
    animation: moveRight 1s ease forwards infinite; }
  body .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); }
    body .loader p {
      font-size: 2rem;
      color: royalblue; }
  body .bounce {
    animation: "bounce 5s ease forwards";
    transition: "1s ease-in-out forwards"; }
  body .feelingDisp {
    animation: feelingDisp 0.5s ease-in forwards; }
  body .showBorder {
    animation: showBorder 1s ease-in-out forwards 1s; }
  body .btn-imp {
    width: 200px;
    height: 70px;
    font-size: 1.3rem;
    transition: all 0.5s ease;
    cursor: pointer;
    outline: none;
    border: none;
    margin: 10px;
    border-radius: 5px;
    z-index: 900;
    background: #f1f1f1;
    color: #21209c; }
    body .btn-imp:hover {
      background: #21209c;
      color: #fdb827;
      box-shadow: 2px 12px 15px 1px #fed98c; }
    body .btn-imp:focus {
      box-shadow: 0 0 0 0; }
  body .btn-norm {
    width: 200px;
    height: 70px;
    font-size: 1.3rem;
    transition: all 0.5s ease;
    cursor: pointer;
    outline: none;
    border: none;
    margin: 10px;
    border-radius: 5px;
    z-index: 900;
    background: #fdb827;
    color: #f1f1f1; }
    body .btn-norm:hover {
      background: #f1f1f1;
      color: #fdb827;
      box-shadow: 2px 12px 15px 1px #fbeaa3; }
    body .btn-norm:focus {
      box-shadow: 0 0 0 0; }
  body .button:hover {
    box-shadow: -5px 5px 50px 1px #fdb827; }
  body .button:focus {
    box-shadow: 0 0 0 0; }
