@import "config";
@import "utilities";
@import "nav";
@import "header";
@import "Paragraph1";
@import "../blog/Art/tree";
@import "articles";
@import "shopping";
@import "counselling";
@import "footer";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  // background: $abstract;
 
}
.move-right {
  animation: moveRight 1s ease forwards infinite;
}
.bounce {
  animation: "bounce 5s ease forwards";
  transition: "1s ease-in-out forwards";
}
.feelingDisp {
  animation: feelingDisp 0.5s ease-in forwards;
}
.showBorder {
  animation: showBorder 1s ease-in-out forwards 1s;
}

@keyframes moveRight {
  25% {
    position: relative;
    left: 0;
  }

  50% {
    position: relative;
    left: 10px;
  }
  75% {
    position: relative;
    left: 0px;
  }
}

@keyframes showUp {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
    display: flex;
    // right: 75%;
    visibility: visible;
    // position: relative;
  }
}

@keyframes moveLeft {
  0% {
    // opacity:0;
  }
  100% {
    display: block;
    right: 65%;

    // position: relative;
  }
}
@keyframes bounce {
  0% {
    opacity: 0;
  }

  30%,
  50% {
    opacity: 0;
  }

  55%,
  100% {
    opacity: 1;
  }
}

@keyframes showBorder {
  from {
    width: 600px;
    border-right: none;
  }
  to {
    width: 490px;
    border-right: 5px solid red;
  }
}
@keyframes feelingDisp {
  from {
    top: 100px;
    opacity: 0;
  }
  to {
    top: 0px;
    opacity: 1;
  }
}
@keyframes expands {
  10% {
    transition: all 1s ease-in-out;
    transform: scale(1);
  }
  25% {
    transition: all 1s ease-in-out;
    transform: scale(1.3);
  }
  50% {
    transition: all 1s ease-in-out;
    transform: scale(1);
  }
  75% {
    transition: all 1s ease-in-out;
    transform: scale(1.5);
  }
  100% {
    transition: all 1s ease-in-out;
    transform: scale(1);
  }
}
