.reader {
  width: 90%;
  height: fit-content;
  display: flex;
  flex-direction: column;
  margin: 5% 5%;
  @include border(red);

  &__meta {
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    @include border(blue);
    background: #fff;

    img {
      width: 250px;
      height: 350px;
      @include border(yellow);
    }

    &__desc {
      width: 70%;
      height: inherit;
      @include border(orange);
      padding: 1rem;
      display: flex;
      flex-direction: column;
      // background: #fff;
      .outlets {
        height: 200px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 1rem 0;
        @include border(green);
        hr {
          background-color: grey;
          height: 1px;
          border: 0;
        }
        .tags {
          padding: 1rem 0;
          span {
            border: 1px solid black;
            padding: 0.5rem;
            margin-right: 5px;
          }
        }

        .social_media {
          display: flex;
          justify-content: space-between;
          &_icons {
            width: 200px;
            @include border(orange);
            display: flex;
            justify-content: space-around;
            a {
              color: #000;
              font-size: 25px;
              &:hover {
                color: grey;
              }
            }
          }
          .mainTag {
            @include border(red);
            h4 {
              font-size: 20px;
            }
          }
        }
        .theOtherContent {
          width: 200px;
          display: flex;
          justify-content: space-evenly;
        }
      }
      .reader__main__content {
        @include border(red);
        width: 700px;

        blockquote {
          border-left: 5px solid grey;
          margin: 5px 5px;
          font-size: 1.5rem;
          padding: 1rem;
          // background: lighten(grey, 40%);
        }
        i {
          font-style: italic;
        }
        b {
          font-weight: bold;
        }
      }
      &__navigation {
        @include border(pink);
        width: 100px;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        button {
          background: none;
          outline: none;
          border: none;
          color: grey;
          cursor: pointer;
          &:hover,
          &:focus {
            color: lighten(grey, 10%);
          }
        }
      }
      h1 {
        font-size: 3rem;
      }
      h3 {
        color: grey;
        font-weight: 100;
        margin: 2% 0;
      }
    }
  }

  &__relatedArticles {
    @include border(red);
    margin-top: 100px;
    &__body {
      width: 99vw;
      height: fit-content;
      padding: 1rem;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
      position: relative;
      @include border(blue);

      .item {
        width: 800px;
        height: 300px;
        margin: 10px auto;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        cursor: pointer;
        background: $background;
        border-top: 5px solid #663399;
        transition: all 0.5s ease-in;
        @include border(brown);
        border-top: 1px solid #000;
        border-bottom: 1px solid #000;
        border-width: 1px;
        &:hover {
          border-right: 2px solid $primary;
          border-width: 1px;
        }
        &__image {
          height: 100%;
          width: 50%;
          border-radius: 4px 4px 0 0;
          background: $secondary;
          @include border(green);
          img {
            height: 100%;
            width: 100%;
          }
        }
        &__main {
          width: 50%;
          height: 250px;

          // background: blue;
          .meta-data {
            @include border(red);
            &-main {
              display: flex;
              flex-direction: row;

              &-avatar {
                img {
                  margin: 10px;
                  height: 50px;
                  width: 50px;
                  border-radius: 50px;
                }
              }
              &-text {
                // text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: $primary;
                // padding: .4rem;
                @include border(#fff);
                h3 {
                  font-size: 1rem;
                }
                span {
                  font-size: 0.8rem;
                }
              }
            }
          }
          &__desc {
            @include border(brown);
            padding: 1rem;
            display: flex;
            height: fit-content;
            flex-direction: column;
            text-decoration: none;
            justify-content: flex-start;

            h2 {
              word-wrap: break-word;
              color: black;
              height: 55px;
              font-weight: 100;
              font-size: 2.5rem;
              overflow: hidden;
              text-overflow: ellipsis;
              text-decoration: none;
              @include border(red);
            }
            h3 {
              font-size: 0.8rem;
              text-decoration: none;
              font-weight: 100;
              color: orange;
              @include border(violet);
            }
            article {
              width: inherit;
              height: 70px;
              overflow: hidden;
            }
            p {
              @include border(red);
              overflow: hidden;
              text-overflow: ellipsis;
              height: 90px;
              color: black;
              font-weight: 100;
            }
          }
          &__read__link {
            width: inherit;
            height: 40px;
            @include border(red);
            button {
              background: none;
              color: $primary;
              width: 140px;
              border: none;
              padding: 0.5rem;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
