.adminPage {
  display: flex;
  flex-direction: row;
  height: fit-content;
  @include border(red);
  background: $abstract;

  @import "./creator";

  // ------ The nav section
  .adminNav {
    width: 300px;
    background: $primary;
    @include border(rgb(27, 36, 27));
    color: #fff;
    .active {
      background: lighten($primary, 30%);
    }
    ul {
      li {
        height: 50px;
        padding: 1rem;
        border-bottom: 1px solid grey;

        &:focus {
          background: lighten($primary, 30%);
        }
        &:hover {
          background: lighten($primary, 10%);
        }
      }
    }
  }

  // ------- The display section
  .display {
    @include border(orange);
    width: 86vw;

    .serverResp {
      width: 86vw;
      height: 500px;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      h2 {
        color: blue;
      }
    }

    &__post {
      width: inherit;
      @include border(orange);

      &__header {
        width: inherit;
        .main {
          width: inherit;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          padding: 1rem;
          @include border(black);

          .main_1 {
            display: flex;
            justify-content: space-between;
            width: 160px;
            @include border(green);
            button {
              background: lighten($primary, 30%);
              color: #fff;
              border: none;
              padding: 0.5rem;
              cursor: pointer;
              &:hover {
                background: $primary;
              }
            }
          }
          .main_2 {
            input {
              padding: 1rem;
              height: 40px;
            }
            button {
              height: 40px;
              padding: 0 1rem;
              background: lighten($primary, 30%);
              color: #fff;
              border: none;
              cursor: pointer;
              &:hover {
                background: $primary;
              }
            }
          }
        }

        // Sub
        .sub {
          padding-left: 1rem;
          display: flex;
          justify-content: space-between;
          .sub_1 {
            display: flex;
            justify-content: space-between;
            width: 190px;
            @include border(red);
            h4 {
              font-weight: 100;
              &:nth-child(even) {
                color: lighten($primary, 30%);
              }
              span {
                color: grey;
              }
            }
          }
          .sub_2 {
            padding: 0rem 1rem;
            color: grey;
            h4 {
              font-weight: 100;
            }
          }
        }
      }

      &__result {
        overflow-y: scroll;
        height: 100vh;
        .item {
          width: 500px;
          height: 300px;
          margin: 10px 0;
          border-radius: 2px;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          cursor: pointer;
          background: #fff;
          transition: all 0.5s ease-in;
          border-width: 5px;
          position: relative;
          @include border(brown);

          &:hover {
            border-left: 2px solid $primary;
            border-width: 5px;
          }

          &__image {
            height: 100%;
            width: 100%;
            border-radius: 4px 4px 0 0;
            background: $secondary;
            overflow: hidden;
            position: absolute;
            z-index: -10;
            filter: blur(5px);
            @include border(green);
            img {
              height: 100%;
              width: 100%;
            }
          }

          &__main {
            width: 100%;
            height: 250px;

            // background: blue;
            .meta-data {
              @include border(red);
              &-main {
                display: flex;
                flex-direction: row;

                &-avatar {
                  img {
                    height: 50px;
                    width: 50px;
                    border-radius: 50px;
                  }
                }
                &-text {
                  // text-align: center;
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  color: $primary;
                  // padding: .4rem;
                  @include border(#fff);
                  h3 {
                    font-size: 1rem;
                  }
                  span {
                    font-size: 0.8rem;
                  }
                }
              }
            }
            &__desc {
              @include border(brown);
              padding: 1rem;
              display: flex;
              height: fit-content;
              flex-direction: column;
              text-decoration: none;
              justify-content: flex-start;

              h2 {
                word-wrap: break-word;
                color: black;
                height: 55px;
                font-weight: 100;
                font-size: 2.5rem;
                overflow: hidden;
                text-overflow: ellipsis;
                text-decoration: none;
                @include border(red);
              }
              h3 {
                font-size: 0.8rem;
                text-decoration: none;
                font-weight: 100;
                color: orange;
                @include border(violet);
              }
              article {
                width: inherit;
                height: 70px;
                overflow: hidden;
              }
              p {
                @include border(red);
                overflow: hidden;
                text-overflow: ellipsis;
                height: 90px;
                color: black;
                font-weight: 100;
              }
            }
            &__read__link {
              width: inherit;
              height: 40px;
              @include border(red);
              button {
                background: none;
                color: $primary;
                width: 140px;
                border: none;
                padding: 0.5rem;
                cursor: pointer;
              }
            }
          }

          @include desktop {
            width: 1000px;
            height: 300px;
            margin: 10px auto;
            border-radius: 2px;
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            cursor: pointer;
            background: $background;
            border-top: 5px solid #663399;
            transition: all 0.5s ease-in;
            @include border(brown);
            box-shadow: 5px 5px 50px 1px lighten(royalblue, 30%);
            //   border-top: 2px solid $secondary;
            //   border-bottom: 2px solid $secondary;
            border-width: 5px;

            &:hover {
              border-left: 2px solid $primary;
              border-width: 5px;
            }
            &__image {
              height: 100%;
              width: 50%;
              border-radius: 4px 4px 0 0;
              background: $secondary;
              position: relative;
              filter: blur(0);
              @include border(green);
              img {
                height: 100%;
                width: 100%;
              }
            }

            &__main {
              width: 50%;
              height: 250px;

              // background: blue;
              .meta-data {
                @include border(red);
                &-main {
                  display: flex;
                  flex-direction: row;

                  &-avatar {
                    img {
                      height: 50px;
                      width: 50px;
                      border-radius: 50px;
                    }
                  }
                  &-text {
                    // text-align: center;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    color: $primary;
                    // padding: .4rem;
                    @include border(#fff);
                    h3 {
                      font-size: 1rem;
                    }
                    span {
                      font-size: 0.8rem;
                    }
                  }
                }
              }
              &__desc {
                @include border(brown);
                padding: 1rem;
                display: flex;
                height: fit-content;
                flex-direction: column;
                text-decoration: none;
                justify-content: flex-start;

                h2 {
                  word-wrap: break-word;
                  color: black;
                  height: 55px;
                  font-weight: 100;
                  font-size: 2.5rem;
                  overflow: hidden;
                  text-overflow: ellipsis;
                  text-decoration: none;
                  @include border(red);
                }
                h3 {
                  font-size: 0.8rem;
                  text-decoration: none;
                  font-weight: 100;
                  color: orange;
                  @include border(violet);
                }
                article {
                  width: inherit;
                  height: 70px;
                  overflow: hidden;
                }
                p {
                  @include border(red);
                  overflow: hidden;
                  text-overflow: ellipsis;
                  height: 90px;
                  color: black;
                  font-weight: 100;
                }
              }
              &__read__link {
                width: inherit;
                height: 40px;
                @include border(red);
                button {
                  background: none;
                  color: $primary;
                  width: 140px;
                  border: none;
                  padding: 0.5rem;
                  cursor: pointer;
                }
              }
            }
          }
        }
      }
    }
  }
}
