.articles {
  @include border(green);
  width: 100vw;
  height: 750px;
  position: relative;

  &__firstChild {
    margin: 0 0 0 100px;
    color: $primary;
    width: 960px;
    height: fit-content;
    padding: 1rem;
    word-wrap: wrap;
    position: relative;
    top: 50px;
    display: flex;
    justify-content: space-between;
    z-index: 300;
    @include border(red);

     .h2_1 {
      font-size: 2rem;
      font-weight: 100;
      color: orange;
      width: fit-content;
      height: fit-content;
      padding: 1rem;
      word-wrap: wrap;
      text-align: center;
      position: relative;
      @include border(green);

    }
    .h2_2 {
      height: 100px;
      @include border(brown);
      b{
        font-size: 4rem;
      }
    }
    p {
      @include border(red);
      width: 500px;
      height: 200px;
      margin: 10% 10%;
      font-size: 15px;
      padding: 2rem;
    }

    &__art {
      width: 50vw;
      height: 400px;
      position: relative;
      display: flex;
      @include border(red);
    }
  }
  .articles__paragraph {
    @include border(cyan);
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    p {
      @include border(gold);
      width: 40vw;
      height: 250px;
      font-size: 17px;
      font-weight: 100;
      padding: 2rem;
      line-height: 1.5;
      color: $primary;
    }

    .buttons {
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: row;
      justify-content: center;
      @include border(red);
    }
  }

  &-author {
    @include border(red);
    grid-area: 1 / 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content;
    margin: -100px 0 0 200px;
    border-radius: 100%;
    width: 90%;
    // background: lightblue;
    img {
      @include border(white);
      z-index: 200;
    }
  }
}
