.counselling {
  width: 100vw;
  height: 1200px;
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  @include border(blue);

  &__header {
    width: 100%;
    @include border(red);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__name {
      width: 600px;
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      @include border(gold);
      h1 {
        @include border(red);
        font-size: 4rem;
        text-align: center;
        position: relative;
        transition: all 1s ease;
        padding: 1rem;
        color: royalblue;

        b {
          color: grey;
          margin-left: 10px;
          margin-right: 10px;
          position: relative;
          top: 100px;
        }
      }
      h2 {
        color: rgb(52, 162, 226);
      }
    }
  }

  &__el {
    @include border(black);
    height: 500px;
    width: 99vw;
    background: #f4f4f4;

    &__feeling {
      width: inherit;
      height: 250px;
      @include border(red);
      padding: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .text {
        padding: 1rem;
        @include border(pink);
        &__content {
          position: relative;
        }
        h2 {
          font-size: 2rem;
          color: grey;
        }
      }
      .feeling {
        @include border(pink);
        height: 150px;
        text-align: center;
        padding: 1rem;
        // position: absolute;

        &__text {
          font-size: 2.5rem;
          position: relative;
          animation: slide ease 0.5s forwards 0.2s;
          transition: all 1s ease-in forwards;
          color: grey;
        }
      }
    }

    &__paragraph {
      @include border(brown);
      color: grey;
      text-align: center;
      display: flex;
      align-items: center;
      padding: 1rem;
      justify-content: center;

      &__text {
        width: 500px;
      }
    }
  }

  &__booking {
    width: inherit;
    height: 650px;
    @include border(green);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;

    &__part1 {
      @include border(red);
      width: 600px;
      display: flex;
      height: 600px;
      flex-direction: column;
      // align-items: center;
      justify-content: space-evenly;
      .assurance {
        color: royalblue;
        height: 200px;
        margin: 50px 0;
        border-radius: 5px;
        padding: 1rem;
        text-align: center;
      }
      h2 {
        color: royalblue;
        font-size: 1.5rem;
        big {
          font-size: 2rem;
          color: orange;
        }
      }
      .contact {
        width: 650px;
        height: 240px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        @include border(red);
        p {
          color: grey;
          margin: 20px 0;
        }

        &__links {
          width: 650px;
          height: 100px;
          display: flex;
          flex-direction: row;
          justify-content: space-around;
          a {
            width: 200px;
            height: 70px;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-evenly;
            padding: 1rem 4rem;
            border-radius: 5px;
            color: #000;
            background: #fff;
            text-decoration: none;
            @include border(green);
            transition: box-shadow 0.5s ease;

            &:hover {
              box-shadow: 2px 12px 15px 1px lighten(#663399, 40%);
            }
          }
          .insta {
            box-shadow: 2px 12px 15px 1px lighten(red, 40%);
          }
          .mail {
            box-shadow: 2px 12px 15px 1px lighten(red, 40%);
          }
          .tel {
            box-shadow: 2px 12px 15px 1px lighten(red, 40%);
          }
        }
      }
    }
  }
}
