.counselling {
  width: 100vw;
  height: 1000px;
  display: flex;
  flex-direction: column;
  margin-top: 2vh;
  @include border(blue);

  &__header {
    width: 100%;
    @include border(red);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__name {
      width: 600px;
      height: inherit;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      position: relative;
      @include border(gold);
      h1 {
        @include border(red);
        font-size: 4rem;
        text-align: center;
        position: relative;
        transition: all 1s ease;
        padding: 1rem;
        color: royalblue;

        b {
          color: grey;
          margin-left: 10px;
          margin-right: 10px;
          position: relative;
          top: 100px;
        }
      }
      h2 {
        color: rgb(52, 162, 226);
      }
    }
  }

  &__el {
    @include border(black);
    height: 500px;
    width: 99vw;

    &__feeling {
      width: inherit;
      height: 250px;
      @include border(red);
      padding: 1rem;
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;

      .text {
        padding: 1rem;
        @include border(pink);
        &__content {
          position: relative;
        }
        h2 {
          font-size: 2.0rem;
          color: grey;
        }
      }
      .feeling {
        @include border(pink);
        height: 150px;
        text-align: center;
        padding: 1rem;
        // position: absolute;

        &__text {
          font-size: 2.5rem;
          position: relative;
          animation: slide ease 0.5s forwards 0.2s;
          transition: all 1s ease-in forwards;
          color: grey;
        }
      }
    }

    &__paragraph {
      @include border(brown);
      color: blue;
      text-align: center;
      display: flex;
      align-items: center;
      padding: 1rem;
      justify-content: center;

      &__text {
        width: 500px;
      }
    }
  }

  &__booking {
    width: inherit;
    height: 200px;
    @include border(green);
    background: #f4f4f4;
    padding: 1rem;

    &__part1{
      @include border(#fff);
      display: flex;
      flex-direction: column;
      align-items: center;

      .buttons{
        margin: 50px 0;
      }
    }

  }
}
