.paragraph_1 {
  @include border(red);
  width: 100vw;
  height: 700px;
  background: url("../../pics/Union 1.png");
  background-size: 110vw 500px;
  background-position: -50px 500px;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin: 0vh 0;
  clip-path: polygon(0% 100%, 100% 50%, 100% 0%, 0% 0%);

  section {
    @include border(green);
    width: 43vw;
    height: 500px;
    margin: 5vh 40px;
    font-size: 2rem;
    position: relative;
    padding: 3rem;
    grid-area: 1/1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: grey;
    background: #f4f4f4;
    border-radius: 5px;

    #q-left {
      position: absolute;
      top: 10px;
      left: 20px;
    }
    #q-right {
      position: absolute;
      right: 20px;
      bottom: 10px;
      //   top: 100px;
    }

    .quote-item {
      padding: 1rem;
      color: red;
    }
    i {
      font-size: 1rem;
      color: grey;
    }
  }

  &__art {
    width: 30vw;
    height: 800px;
    position: relative;
    left: 200px;
    display: flex;
    flex-direction: column;
    grid-area: 1/2;

    .trees {
      width: 40vw;
      height: 500px;
      position: relative;
      top: 5vh;
      display: flex;
      flex-direction: row;
    }

    @include border(red);
  }

  .tree_2 {
    position: absolute;
    right: 500px;
  }

  .buttons {
    display: flex;
    flex-direction: row;
    text-align: left;
    width: 500px;
    height: 30vh;
    justify-content: space-evenly;
    padding: 1rem;
    margin-top: 20px;
    @include border(blue);
    border-radius: 1rem;
    flex-wrap: wrap-reverse;
  }
}
