.shopping {
  width: 100vw;
  height: 750px;
  position: relative;
  overflow: hidden;
  transition: All 1s ease forwards;
  @include border(pink);

  .shop-section-2 {
    width: inherit;
    height: 700px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    @include border(white);
  }

  &__paragraph {
    @include border(red);
    // padding: 2rem 1rem;
    width: 500px;
    height: 450px;
    position: relative;

    &__header {
      @include border(blue);
      width: 350px;
      height: 220px;

      h2 {
        font-size: 3rem;
        width: 100%;
        color: $primary;
        @include border(cyan);
      }
    }

    &__text {
      @include border(blue);
      width: 500px;
      height: 150px;
      color: $primary;
    }
  }
  &__button {
    height: 100px;
    position: relative;
    @include border(green);
  }

  &__art {
    padding: 2rem 0;
    width: 500px;
    position: relative;
    background: linear-gradient(to right, orange, red);
    border-radius: 0 40px 40px 0;
    box-shadow: 2px 2px 20px 3px lighten(orange, 10%);

    img {
      position: relative;
      animation: moveRight 2s ease 4s forwards infinite;
    }
  }
}
