* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import "config";
@import "utilities";
@import "nav";
@import "Homepage/header";
@import "Homepage/Paragraph1";
@import "../blog/Art/tree";
@import "Homepage/articles";
@import "Homepage/shopping";
@import "Homepage/counselling";

@import "Articlespage/articlepage-header";
@import "Articlespage/article__artwork";
@import "Articlespage/articlePage__body";
@import "ArticlesPage/aritcle__preview";

@import "Reader/reader";

@import "Adminpage/adminpage";

@import "CounsellingPage/counsellingpage";

@import "RegisterPage/registerpage";
@import "Policies/policies";
@import "footer";

body {
  font-family: "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode",
    Geneva, Verdana, sans-serif;
  overflow-x: hidden;
  background-color: $background;
  line-height: 1.5;
  box-sizing: border-box;
  .move-right {
    animation: moveRight 1s ease forwards infinite;
  }

  .loader {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    p {
      font-size: 2rem;
      color: royalblue;
    }
    @import url(https://fonts.googleapis.com/css?family=Roboto:300);

    .back {
      margin: 1em auto;
      font-family: "Roboto";
    }
    .back span {
      font-size: 3em;
      color: #f2c640;
      background: #262b37;
      display: table-cell;
      box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.3), 0 5px 0 #ccc;
      padding: 0 15px;
      line-height: 100px;
      animation: jumb 2s infinite;
    }
    @keyframes jumb {
      0% {
        transform: translateY(0px);
      }
      50% {
        transform: translateY(-30px);
        box-shadow: 0 15px 0 rgb(242, 198, 64);
      }
      100% {
        transform: translateY(0px);
      }
    }
    .back span:nth-child(1) {
      animation-delay: 0s;
    }
    .back span:nth-child(2) {
      animation-delay: 0.1s;
    }
    .back span:nth-child(3) {
      animation-delay: 0.2s;
    }
    .back span:nth-child(4) {
      animation-delay: 0.3s;
    }
    .back span:nth-child(5) {
      animation-delay: 0.4s;
    }
    .back span:nth-child(6) {
      animation-delay: 0.5s;
    }
    .back span:nth-child(7) {
      animation-delay: 0.6s;
    }
  }

  // --------------------------

  // -----------------------------

  .bounce {
    animation: "bounce 5s ease forwards";
    transition: "1s ease-in-out forwards";
  }
  .feelingDisp {
    animation: feelingDisp 0.5s ease-in forwards;
  }
  .showBorder {
    animation: showBorder 1s ease-in-out forwards 1s;
  }
  .btn-imp {
    @include button(high);
  }

  .btn-norm {
    @include button(low);
  }
  .button:hover {
    box-shadow: -5px 5px 50px 1px $secondary;
  }
  .button:focus {
    box-shadow: 0 0 0 0;
  }
}
