.article__preview__maincon {
  background: rgba(194, 194, 197, 0.349);
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  z-index: 300;

  &__pre {
    box-shadow: 2px 2px 21px 2px #6b6565;
    @include border(#fff);
    width: 100vw;
    height: 380px;
    background: #f4f4f4;
    margin: 100px 0;
    display: flex;
    flex-direction: row;
    padding: 1rem;
    position: absolute;
    top: 0;
    z-index: 301;
  }
  &__items {
    position: absolute;
    width: 100vw;
    top: 0px;
    margin: 100px 0;
    z-index: 302;
    display: flex;
    justify-content: space-around;

    .pre__part {
      width: 30.33%;
      height: 380px;
      @include border(red);
      position: relative;

      &__left {
        .poly {
          width: 100%;
          height: 100%;
        }
        .any {
          width: 200px;
          height: 200px;
          position: absolute;
          top: 20%;
          left: 20%;
          @include border(#fff);
        }
      }
      &__middle {
        padding: 1rem 0;
        display: flex;
        flex-direction: column;
        justify-content: space-around;

        &__header {
          text-align: center;
          height: 100px;
          padding: 1rem;
        }
        p {
          @include border(yellow);
          width: 500px;
          margin: 0 auto;
          height: 100px;
          overflow: hidden;
        }
        &__buttons {
          width: 100%;
          height: 100px;
          display: flex;
          flex-direction: row;
          align-items: center;
          justify-content: center;
          @include border(blue);

          #back {
            width: 100px;
            height: 60px;
            background: none;
            border: none;
            cursor: pointer;
            &:hover {
              border-bottom: 2px solid gold;
            }

          }
        }
      }
      &__right {
      }
    }
  }
}
