.article-nav-main {
  @include border(red);
  padding: 1rem;

  .article-nav {
    @include border(royalblue);
    width: inherit;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    &__ul {
      @include border(red);
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      width: 950px;

      &__elem {
        background: none;
        font-size: 1rem;
        border: none;
        padding-left: 1rem;
        cursor: pointer;
        color: $primary;
        width: 500px;
        padding: 1rem;
        outline: none;
        transition: all 0.5s linear;
        &:hover {
          background: $abstract;
        }
        &:focus {
          color: $secondary;
          background: $abstract;
          outline: none;
          border-bottom: 2px solid rgb(255, 187, 0);
        }
      }
    }
  }
}

.articlesBox {
  width: 99vw;
  height: fit-content;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  position: relative;
  @include border(red);

  @include desktop {
    width: 99vw;
    height: fit-content;
    padding: 1rem;
    display: flex;
    margin: auto auto;
    flex-direction: row;
    flex-wrap: wrap-reverse;
    position: relative;
  }

  &__body {
    display: flex;
    width: 97vw;
    height: fit-content;
    flex-direction: column;
    flex-wrap: wrap;
    @include border(green);

    .item {
      width: 355px;
      height: 266px;
      margin: 10px 0;
      border-radius: 2px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      cursor: pointer;
      background: $background;
      border-top: 5px solid #663399;
      transition: all 0.5s ease-in;
      @include border(brown);
      border-top: 2px solid $secondary;
      border-bottom: 2px solid $secondary;
      border-width: 5px;
      position: relative;

      @include smallerPhones {
        width: 400px;
        height: 250px;
      }

      &:hover {
        border-left: 2px solid $primary;
        border-width: 5px;
      }

      &__image {
        height: 100%;
        width: 100%;
        border-radius: 4px 4px 0 0;
        background: $secondary;
        overflow: hidden;
        position: absolute;
        z-index: -10;
        filter: blur(5px);
        @include border(green);
        img {
          height: 100%;
          width: 100%;
        }
      }

      &__main {
        width: 100%;
        height: 250px;

        // background: blue;
        .meta-data {
          @include border(red);
          &-main {
            display: flex;
            flex-direction: row;

            &-avatar {
              img {
                height: 50px;
                width: 50px;
                border-radius: 50px;
              }
            }
            &-text {
              // text-align: center;
              display: flex;
              flex-direction: column;
              justify-content: center;
              color: $primary;
              // padding: .4rem;
              @include border(#fff);
              h3 {
                font-size: 1rem;
              }
              span {
                font-size: 0.8rem;
              }
            }
          }
        }
        &__desc {
          @include border(brown);
          padding: 1rem;
          display: flex;
          height: fit-content;
          flex-direction: column;
          text-decoration: none;
          justify-content: flex-start;

          h2 {
            word-wrap: break-word;
            color: black;
            height: 55px;
            font-weight: 100;
            font-size: 2.5rem;
            overflow: hidden;
            text-overflow: ellipsis;
            text-decoration: none;
            @include border(red);

            @include smallerPhones {
              font-size: 1.5rem;
            }
          }
          h3 {
            font-size: 0.8rem;
            text-decoration: none;
            font-weight: 100;
            color: orange;
            @include border(violet);
          }
          article {
            width: inherit;
            height: 50px;
            overflow: hidden;

            @include smallerPhones {
              font-size: 1rem;
            }
          }
          p {
            @include border(red);
            overflow: hidden;
            text-overflow: ellipsis;
            height: 90px;
            color: black;
            font-weight: 100;
          }
        }
        &__read__link {
          width: inherit;
          height: 40px;
          @include border(red);
          button {
            background: none;
            color: $primary;
            width: 140px;
            border: none;
            padding: 0.5rem;
            cursor: pointer;
          }
        }
      }

      @include desktop {
        width: 1000px;
        height: 300px;
        margin: 10px auto;
        border-radius: 2px;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        cursor: pointer;
        background: $background;
        border-top: 5px solid #663399;
        transition: all 0.5s ease-in;
        @include border(brown);
        border-top: 2px solid $secondary;
        border-bottom: 2px solid $secondary;
        border-width: 5px;

        &:hover {
          border-left: 2px solid $primary;
          border-width: 5px;
        }
        &__image {
          height: 100%;
          width: 50%;
          border-radius: 4px 4px 0 0;
          background: $secondary;
          position: relative;
          filter: blur(0);
          @include border(green);
          img {
            height: 100%;
            width: 100%;
          }
        }

        &__main {
          width: 50%;
          height: 250px;

          // background: blue;
          .meta-data {
            @include border(red);
            &-main {
              display: flex;
              flex-direction: row;

              &-avatar {
                img {
                  height: 50px;
                  width: 50px;
                  border-radius: 50px;
                }
              }
              &-text {
                // text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: $primary;
                // padding: .4rem;
                @include border(#fff);
                h3 {
                  font-size: 1rem;
                }
                span {
                  font-size: 0.8rem;
                }
              }
            }
          }
          &__desc {
            @include border(brown);
            padding: 1rem;
            display: flex;
            height: fit-content;
            flex-direction: column;
            text-decoration: none;
            justify-content: flex-start;

            h2 {
              word-wrap: break-word;
              color: black;
              height: 55px;
              font-weight: 100;
              font-size: 2.5rem;
              overflow: hidden;
              text-overflow: ellipsis;
              text-decoration: none;
              @include border(red);
            }
            h3 {
              font-size: 0.8rem;
              text-decoration: none;
              font-weight: 100;
              color: orange;
              @include border(violet);
            }
            article {
              width: inherit;
              height: 70px;
              overflow: hidden;
            }
            p {
              @include border(red);
              overflow: hidden;
              text-overflow: ellipsis;
              height: 90px;
              color: black;
              font-weight: 100;
            }
          }
          &__read__link {
            width: inherit;
            height: 40px;
            @include border(red);
            button {
              background: none;
              color: $primary;
              width: 140px;
              border: none;
              padding: 0.5rem;
              cursor: pointer;
            }
          }
        }
      }
    }
  }
}
