body{
    margin: 0;
    padding: 0;
    /* font-family: Arial, Helvetica, sans-serif; */
    font-family: 'Source Code', sans-serif;
    box-sizing: border-box;
    background: #fff;
}
/* 
* {
    padding: 1rem;
    margin: 10px;
} */
.navbar{
    background: linear-gradient(to right, rgb(106, 34, 221) 30%, rgb(89, 55, 236),rgb(43, 47, 235));
    height: 100px;
    width: 100vw;
    margin-bottom: 15px;
    text-align: center;
    font-size: 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: #fff;
}
form{
    
    padding: 1rem;
    margin: 10px;
}
form label{
    
    padding: 1rem;
    margin: 10px;
}
form button{
    
    padding: 1rem;
    margin: 10px;
}
 
input[type="text"]{
    width: 30vw;
    height: 3vh;
    margin: 10px;
    padding: 1rem;
}
.footer{
    /* background: rebeccapurple; */
    height: 100px;
    margin-bottom: 15px;
    text-align: center;
    font-size: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
}