.adminPage {
  height: fit-content;

  &__header {
    @include border(red);
    //text-align: center;
    padding: 1rem;
    // background: $secondary-blue;

    h2 {
      // background: $orange;
      font-size: 4rem;
      padding: 1rem;
      color: #000;
      b {
        font-weight: 100;
        color: $orange;
      }
    }
  }

  &__subHeaders {
    @include border(orange);
    height: 200px;
    header {
      padding: 1rem;
      h3 {
        color: grey;
        position: relative;
        left: 100px;
      }
    }

    &__items {
      height: fit-content;
      @include border(red);
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      &__btnCon {
        height: inherit;
        width: 500px;
        display: flex;
        flex-direction: row;
        position: relative;
        @include border(green);

        button {
          height: 60px;
          width: 150px;
          background: transparent;
          border: none;
          font-size: 1.2rem;
          cursor: pointer;
          box-shadow: 5px 10px 20px 1px $orange;
        }

        &__desc {
          // border: 1px solid red;
          margin-left: 10px;
          width: 300px;
          background: #f4f4f4;
          position: relative;
          // display: none;

          ul {
            padding: 1rem;
            li {
              list-style-type: none;
            }
          }
        }
      }
    }
  }
  .buttonDisplay {
    @include border(green);
    height: fit-content;
    display: flex;
    flex-direction: column;

    header {
      @include border(red);
      // width: 80%;
      display: flex;
      padding: 1rem;
      justify-content: space-between;

      div {
        width: 200px;
        display: flex;
        align-items: center;
        justify-content: space-around;
        @include border(red);
        h2 {
          font-size: 2rem;
          text-transform: capitalize;
        }
        .awesomeIcon {
          border: 1px solid #000;
          height: 30px;
          width: 30px;
          padding: .5rem;
          cursor: pointer;
          border-radius: 30px;
        }
      }
      input {
        height: 50px;
        width: 300px;
        margin: 5px;
        padding: 1rem;
      }
    }
    &__items {
      padding: 1rem;

      .item {
        width: 70%;
        height: 250px;
        margin: 20px auto;
        overflow: hidden;
        padding: 1rem;
        box-shadow: 5px 5px 50px 1px lighten(royalblue, 30%);
        // border: 1px solid green;
      }
    }
  }
}
